{% extends 'main.html' %}
{% block content %}
{% include "logoutheader.html" %}

<h1>Add New Movie:</h1>
<h3>Enter a title and we'll do the rest!</h3>

<form id="form">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" maxlength="250" id="title" class="form-control" placeholder="Name of Movie">
        <label for="year"></label>
        <input type="text" name="year" maxlength="4" id="year" class="form-control">
        <label for="plot"></label>
        <input type="text" name="plot" maxlength="250" id="plot" class="form-control">
        <label for="poster"></label>
        <input type="text" name="poster" maxlength="250" id="poster" class="form-control">
        <input type="button" value="Add Movie" id="selectMovie" class="btn btn-default">
    </div>

</form>
<script>
    const button = document.getElementById('selectMovie')
    const apikey = 'ce21af22'
    const url = 'https://www.omdbapi.com/?t='
    let year;
    let plot;
    let poster;

    function movieInfo() {
        const form = document.getElementById('form')
        const att = document.createAttribute('method')
        att.value = "POST"
        form.setAttributeNode(att)
        const title = document.getElementById('title').value
        return fetch(url + title + '&apikey=' + apikey)
            .then(response => response.json())
            .then(data => {
                document.getElementById('year').value = data.Year;
                document.getElementById('plot').value = data.Plot;
                document.getElementById('poster').value = data.Poster;
                form.submit();
            })
            .catch(console.error)
    }

    button.addEventListener('click', movieInfo)
</script>

{% endblock %}